body {
    background-color: #fff;
}

#tresc {
    max-width: 800px;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.fadein, .fadeout {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadein.ng-hide-remove, .fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    display: block !important;
}

.fadeout.ng-hide-add, .fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
}

.animate-switch {
    position: absolute;
    width: 95%;
    min-width: 200px;
    max-width: 800px;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    transition-delay: 0.5s;
}

.animate-switch.ng-enter {
    opacity: 0;
}

.animate-switch.ng-enter-active {
    opacity: 1;
}

.animate-switch.ng-leave {
    opacity: 1;
}

.animate-switch.ng-leave-active {
    opacity: 0;
}

.inputctrl {
    max-width: 75px;
}

.generatorselector {
    margin-bottom: 15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    filter: alpha(opacity=50);
    -moz-opacity: 1;
    opacity: 1;
}

.overlay span {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 50%;
    left: 50%;
    padding: 15px;
    border-radius: 5px;
    border: solid 1px #e7e7e7;
    background: #eee;
    margin-left: -75px;
    margin-top: -25px;
}

.centerme{
    text-align: center;
}
.startbtn {
    margin-top: 25px;
    width: 75px;
}

.validationSummary {
    color: red;
    white-space: pre-line;
    padding: 0;
    margin-right: 30px;
}

@media (min-width: 1200px) {
    .generatorselector {
        margin-right: 30px;
        float: right;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .generatorselector {
        margin-right: 30px;
        float: right;
    }
}

@media (max-width: 767px) {
     .generatorrow {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .generatorrow {
        height: 200px;
    }
}
